<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kopy</title>
    <link rel="stylesheet" href="css/catalogo.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/imagenes/logo.png">
     
            
            <form class="busquedaP" action="">
    
            <input class="buscar" type="text" name="busqueda" placeholder="Buscar" autocomplete="on">
            <input class="button-buscador"type="image" src="/imagenes/busqueda.png"/>
            
            </form>
    
            <div class="editarP">
                <a class="inicio" href="">Nombre usuario</a>
                <input class="button-perfil" type="image" src="/imagenes/usuario.png">
    
            </div>
            
        </nav>
    
        <div class="lista-principal">
    
            <div class="listI"><a href="/Principal_Usuario.html" class="a">Inicio</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/catalogo_usuario.html" class="ab">Catalogo</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/categorias_usuario.html" class="a">Categorias</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/nosotros_usuari.html" class="a">Nosotros</a></div>
    
        </div>
    </header>

    <main>
    <section class="fondo-blanco">
        <h1>Todos los productos</h1>
    </section>

    

    <section class="catalogo">
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafe-oscuro.jpg">
            <p class="cafep">Cafe oscuro</p>
            <p class="precio">$2.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/croasan.jpg">
            <p class="cafep">Croasan</p>
            <p class="precio">$1.200</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/pan-galleta.jpg">
            <p class="cafep">Pan galleta</p>
            <p class="precio">$1.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/caferosa.jpg">
            <p class="cafep">Cafe fresa</p>
            <p class="precio">$7.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafe-leche.jpeg">
            <p class="cafep">Cafe con leche</p>
            <p class="precio">$3.000</p>
        </a>
        <a class="as" href="">
            <img class="coffi" src="/imagenes/cafemora.jpg">
            <p class="cafep">Cafe mora</p>
            <p class="precio" >$6.700</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/caFE-mango.jpg">
            <p class="cafep">Cafe mango</p>
            <p class="precio">$5.500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafeverde.jpg">
            <p class="cafep">Cafe lite</p>
            <p class="precio" >$6.500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafe-fusion.jpg">
            <p class="cafep">Cafe fusion</p>
            <p class="precio" >$6.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/gaelletas-rellenas.webp">
            <p class="cafep">Galleta rellena</p>
            <p class="precio">$500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/capuchino.jpg">
            <p class="cafep">Capuchino</p>
            <p class="precio">$5.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/gaelltas-azules.jpg">
            <p class="cafep">Galletas azules</p>
            <p class="precio">$500</p>
        </a>
        
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafe.jpg">
            <p class="cafep">Cafe con chocolate</p>
            <p class="precio">$5.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cafe-helado.jpg">
            <p class="cafep">Cafe helado</p>
            <p class="precio">$8.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/galletas-chispas.jpg">
            <p class="cafep">Galleta con chispas de chocolate</p>
            <p class="precio">$500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/milo.webp">
            <p class="cafep">Milo</p>
            <p class="precio">$1.100</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/pan-casero.jpg">
            <p class="cafep">Pan cassero</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/huevos-revueltos.webp">
            <p class="cafep">Huevos revueltos</p>
            <p class="precio">$2.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/huevo-frito.jpg">
            <p class="cafep">Huevos fritos</p>
            <p class="precio">$1.200</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/perico.jpg">
            <p class="cafep">Huevos pericos</p>
            <p class="precio">$1.300</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/jugo-mango.jpg">
            <p class="cafep">Jugo de mango </p>
            <p class="precio">$1.200</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/imagenes/chocolate.jpg">
            <p class="cafep">Chocolate con leche</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/calentado.jpg">
            <p class="cafep">Calentado con huevo</p>
            <p class="precio">$3.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/cale.webp">
            <p class="cafep">Calentado sin huevo</p>
            <p class="precio">$2.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/buñuelo.jpg">
            <p class="cafep">Buñuelo</p>
            <p class="precio">$1.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/chocolate-sin.jpg">
            <p class="cafep">Chocolate sin leche</p>
            <p class="precio">$800</p>
        </a>
    

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/pan-de-queso.jpg">
            <p class="cafep">Calentado de queso</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/imagenes/jugo-naranja.webp">
            <p class="cafep">Jugo de naranja </p>
            <p class="precio">$1.200</p>
        </a>



    </section>

 </main>   
 <footer>
    <div class="derechos">
        &copy;2022 Los Ilucionistas | tickettrain121@gmail.com
    </div>

    <div class="futo">
    <a class="rayis" href="">Terminos y condiciones</a>
    <p class="raya">|</p>
    <a class="rayis" href="" >Politicas de privacidad</a>
    <p class="raya">|</p>
    <a class="rayis" href="" >Politicas de devolucion</a>
</div>
</footer>
</body>
</html>