<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kopy</title>
    <link rel="stylesheet" href="css/catalogoAdmi.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/img/logo.png">
     
            
            <form class="busquedaP" action="">
    
            <input class="buscar" type="text" name="busqueda" placeholder="Buscar" autocomplete="on">
            <input class="button-buscador"type="image" src="/img/busqueda.png"/>
            
            </form>
    
            <div class="editarP">
                <a class="inicio" href="">Nombre admi</a>
                <input class="button-perfil" type="image" src="/img/usuario.png">
    
            </div>
            
        </nav>
    
        <div class="lista-principal">
    
            <div class="listI"><a href="/Principal_Admi.html" class="a">Inicio</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/catalogoADmi.html" class="ab">Catalogo</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/categoria_Admi.html" class="a">Categorias</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/nosotros_Admi.html" class="a">Nosotros</a></div>
    
        </div>
    </header>

    <main>
    <section class="fondo-blanco">
        <h1>Todos los productos</h1>
    </section>

    <button class="button"><a href="/insertar">Inserta un Nuevo Producto</a></button>

    <section class="catalogo">
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe-oscuro.jpg">
            <p class="cafep">Cafe oscuro</p>
            <p class="precio">$2.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/croasan.jpg">
            <p class="cafep">Croasan</p>
            <p class="precio">$1.200</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/pan-galleta.jpg">
            <p class="cafep">Pan galleta</p>
            <p class="precio">$1.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/caferosa.jpg">
            <p class="cafep">Cafe fresa</p>
            <p class="precio">$7.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe-leche.jpeg">
            <p class="cafep">Cafe con leche</p>
            <p class="precio">$3.000</p>
        </a>
        <a class="as" href="">
            <img class="coffi" src="/img/cafemora.jpg">
            <p class="cafep">Cafe mora</p>
            <p class="precio" >$6.700</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/caFE-mango.jpg">
            <p class="cafep">Cafe mango</p>
            <p class="precio">$5.500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafeverde.jpg">
            <p class="cafep">Cafe lite</p>
            <p class="precio" >$6.500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe-fusion.jpg">
            <p class="cafep">Cafe fusion</p>
            <p class="precio" >$6.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/gaelletas-rellenas.webp">
            <p class="cafep">Galleta rellena</p>
            <p class="precio">$500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/capuchino.jpg">
            <p class="cafep">Capuchino</p>
            <p class="precio">$5.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/gaelltas-azules.jpg">
            <p class="cafep">Galletas azules</p>
            <p class="precio">$500</p>
        </a>
        
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe.jpg">
            <p class="cafep">Cafe con chocolate</p>
            <p class="precio">$5.000</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe-helado.jpg">
            <p class="cafep">Cafe helado</p>
            <p class="precio">$8.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/galletas-chispas.jpg">
            <p class="cafep">Galleta con chispas de chocolate</p>
            <p class="precio">$500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/milo.webp">
            <p class="cafep">Milo</p>
            <p class="precio">$1.100</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/pan-casero.jpg">
            <p class="cafep">Pan cassero</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/huevos-revueltos.webp">
            <p class="cafep">Huevos revueltos</p>
            <p class="precio">$2.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/huevo-frito.jpg">
            <p class="cafep">Huevos fritos</p>
            <p class="precio">$1.200</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/perico.jpg">
            <p class="cafep">Huevos pericos</p>
            <p class="precio">$1.300</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/jugo-mango.jpg">
            <p class="cafep">Jugo de mango </p>
            <p class="precio">$1.200</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/chocolate.jpg">
            <p class="cafep">Chocolate con leche</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/calentado.jpg">
            <p class="cafep">Calentado con huevo</p>
            <p class="precio">$3.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/cale.webp">
            <p class="cafep">Calentado sin huevo</p>
            <p class="precio">$2.500</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/buñuelo.jpg">
            <p class="cafep">Buñuelo</p>
            <p class="precio">$1.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/chocolate-sin.jpg">
            <p class="cafep">Chocolate sin leche</p>
            <p class="precio">$800</p>
        </a>
    

        <a class="as"  href="">
            <img class="coffi" src="/img/pan-de-queso.jpg">
            <p class="cafep">Calentado de queso</p>
            <p class="precio">$2.000</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/jugo-naranja.webp">
            <p class="cafep">Jugo de naranja </p>
            <p class="precio">$1.200</p>
        </a>


    </section>

 </main>   
 <footer>
    <div class="derechos">
        &copy;2022 Los Ilucionistas | tickettrain121@gmail.com
    </div>

    <div class="futo">
    <a class="rayis" href="">Terminos y condiciones</a>
    <p class="raya">|</p>
    <a class="rayis" href="" >Politicas de privacidad</a>
    <p class="raya">|</p>
    <a class="rayis" href="" >Politicas de devolucion</a>
</div>
</footer>
</body>
</html>