<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kopy</title>
    <link rel="stylesheet" href="css/categorias.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/img/logo.png">
     
            
            <form class="busquedaP" action="">
    
            <input class="buscar" type="text" name="busqueda" placeholder="Buscar" autocomplete="on">
            <input class="button-buscador"type="image" src="/img/busqueda.png"/>
            
            </form>
    
            <a class="inicio" href="">Iniciar sesion</a>
            <a class="registro" href="">Registro</a>
            
        </nav>
    
        <div class="lista-principal">
    
            <div class="listI"><a href="/" class="a">Inicio</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/catalogo.html" class="a">Catalogo</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/categorias.html" class="ab">Categorias</a></div>
            <div class="list"><li>|</li></div>
            <div class="listI"><a href="/nosotros.html" class="a">Nosotros</a></div>
    
        </div>
    </header>

    <main>
        <section class="fondo-corazon">
            <h1>Todas las categorias</h1>
        </section>

        <section class="categorias">
        <a class="as"  href="">
            <img class="coffi" src="/img/cafes.jpg">
            <p class="cafep">Cafe</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/pan.jpeg">
            <p class="cafep">Panes</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/JUGOS_NATURALES.jpg">
            <p class="cafep">Jugos</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/galletas.jpg">
            <p class="cafep">Galletas</p>
        </a>

        
        <a class="as"  href="">
            <img class="coffi" src="/img/desayunos.jpg">
            <p class="cafep">Desayunos</p>
        </a>

        <a class="as"  href="">
            <img class="coffi" src="/img/chcol.jpg">
            <p class="cafep">Chocolates</p>
        </a>
    </section>

    </main>

    <footer>
        <div class="derechos">
            &copy;2022 Los Ilucionistas | tickettrain121@gmail.com
        </div>

        <div class="futo">
        <a class="rayis" href="">Terminos y condiciones</a>
        <p class="raya">|</p>
        <a class="rayis" href="" >Politicas de privacidad</a>
        <p class="raya">|</p>
        <a class="rayis" href="" >Politicas de devolucion</a>
    </div>
    </footer>
</body>
</html>