<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <form class="formulario"action="/loginya" method="post">
        <h1>Inicia Sesion</h1>
        <div class="contenedor">

           
            <div class="input-contendor">
                <i class="fa-solid fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contendor">
                <i class="fa-solid fa-key icon"></i>
                <input type="password" placeholder="Ingrese su Contraseña">
            </div>
            <input class="button" type="submit" value="Inicia Sesion" >
            <p class="p1">Para poder registrarte debes aceptar nuestros <b>Terminos y Condiciones</b></p>

            <p class="p2">¿No tienes una cuenta?<a class="link" href="/registro.html"> Registrate</a></p>
        </div>
    </form>
</body>
</html>