<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kopy</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
<header>
    <nav>
        <img class="logo" src="/img/logo.png">
 
        
        <form class="busquedaP" action="">

        <input class="buscar" type="text" name="busqueda" placeholder="Buscar" autocomplete="on">
        <input class="button-buscador"type="image" src="/img/busqueda.png"/>
        
        </form>

        <a class="inicio" href="/login">Iniciar sesion</a>
        <a class="registro" href="/registro">Registro</a>
        
    </nav>

    <div class="lista-principal">

        <div class="listI"><a href="" class="ab">Inicio</a></div>
        <div class="list"><li>|</li></div>
        <div class="listI"><a href="" class="a">Catalogo</a></div>
        <div class="list"><li>|</li></div>
        <div class="listI"><a href="" class="a">Categorias</a></div>
        <div class="list"><li>|</li></div>
        <div class="listI"><a href="" class="a">Nosotros</a></div>

    </div>
</header>
<main>
    <section class="fondo-rosa">
        <h1>Deleitate con nuestros deliciosos productos</h1>
        <h2>Los mejores precios!</h2>
        <a class="CATA" href="">Ver catalogo</a>

    </section>

    <section class="info">
        <div class="hijo">
            <img class="imagen" src="/img/marcador-de-mapa.png">
            <p class="parrafo"> Envios a toda la ciudad</p>
        </div>
        <div><li class="als">|</li></div>

        <div class="hijo">
            <img class="imagene"  src="/img/dolar.png">
            <p class="parrafo"> Todos los medios de pago</p>
        </div>

        <div><li class="alss">|</li></div>

        <div class="hijo">
            <img class="imagenn" src="/img/sonreir.png">
            <p class="parrafo">Cliente satisfecho</p>
        </div>
    </section>

    <section class=>
        <h3>Productos destacados</h3>
        <div class="destacados">
        <a class="as"  href="">
            <img class="coffi" src="/img/caferosa.jpg">
            <p class="cafep">Cafe fresa</p>
            <p class="precio">$7.000</p>
        </a>
        <a class="as" href="">
            <img class="coffi" src="/img/cafemora.jpg">
            <p class="cafep">Cafe mora</p>
            <p class="precio" >$6.700</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafeverde.jpg">
            <p class="cafep">Cafe lite</p>
            <p class="precio" >$6.500</p>
        </a>
        <a class="as"  href="">
            <img class="coffi" src="/img/cafe.jpg">
            <p class="cafep">Cafe con chocolate</p>
            <p class="precio">$5.000</p>
        </a>
    </div>

    <a class="botonProdc" href="">Ver mas productos</a>
    </section>

    <section class="seccion">
        <p class="contc">Contactate con Nosotros</p>
        <p class="con">Atencion via whatsapp</p>
        <a class="ayuda" href="">Hablar</a>
    </section>
</main>
    <footer>
        <div class="derechos">
            &copy;2022 Los Ilucionistas | tickettrain121@gmail.com
        </div>

        <div class="futo">
        <a class="rayis" href="">Terminos y condiciones</a>
        <p class="raya">|</p>
        <a class="rayis" href="" >Politicas de privacidad</a>
        <p class="raya">|</p>
        <a class="rayis" href="" >Politicas de devolucion</a>
    </div>
    </footer>
</body>
</html>