* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: rgba(71, 59, 59, 0.89);
    --pink: rgb(236, 218, 206);
    --green: rgba(0, 68, 0, 1);
    --blue: rgba(34, 146, 164, 1);
    --orange: rgb(213, 96, 18);
}


header {
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav {
    margin-left: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    margin: 0 5px;
}

nav ul li a {
    color: var(--pink);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.login-register a {
    width: 150px;
    text-align: center;
}

.login {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border-radius: 14px;
    transition: all .2s;
    border: 2px solid var(--orange);
    font-weight: 500;
    color: var(--orange);
}

.login:hover {
    box-shadow: 0 5px 10px var(--orange);
}

.login:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--orange);
    color: var(--pink);
}

.register {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: var(--pink);
    border-radius: 14px;
    transition: all .2s;
    border: 2px solid var(--pink);
    font-weight: 500;
}

.register:hover {
    box-shadow: 0 5px 10px var(--pink);
}

.register:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--pink);
    color: var(--brown);
}

.btn-login {
    width: 400px;
}

.section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 10%;
    flex-wrap: wrap;
    gap: 2%;
    background-color: var(--pink);
}

.section-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right img {
    width: 350px;
    border-radius: 50%;
}

.text-main {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--brown);
}

.text-main span {
    color: var(--orange);
}

.btn-main {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50px;
}

.btn-main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--orange);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.btn-main span {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--brown);
}

.btn-main svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--brown);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btn-main:hover:before {
    width: 100%;
    background: var(--orange);
}

.btn-main:hover svg {
    transform: translateX(0);
}

.btn-main:active {
    transform: scale(0.95);
}

.products-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
}

.products-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 1%;
}

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    background-color: var(--orange);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: var(--brown);
}

.card .image-card {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
}

.card p {
    font-size: 1.2rem;
    color: var(--pink);
    text-align: center;
    margin: 10px 0;

}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.info-card {
    display: flex;
    justify-content: space-evenly;
}

.btn-products {
    position: relative;
    margin: 2% 0;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50px;
}

.btn-products:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--pink);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.btn-products span {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--brown);
}

.btn-products svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--brown);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btn-products:hover:before {
    width: 100%;
    background: var(--pink);
}

.btn-products:hover svg {
    transform: translateX(0);
}

.btn-products:active {
    transform: scale(0.95);
}

article {
    background-color: var(--pink);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}

.box-mini {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

article img {
    width: 80%;
    border-radius: 10px;
}

.box-mini p {
    font-size: 1.2rem;
    color: var(--brown);
    text-align: center;
    margin-top: 10px;
}
footer{
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    color: var(--pink);
}

footer a{
    color: var(--pink);
    text-decoration: none;
}

footer-menu{
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 2%;
}

footer-menu a{
    margin: 0 0px;
}

.content-footer{
    margin: 0 5px;
}