*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brown: rgba(101, 81, 81, 0.89);
    --pink: rgba(239, 213, 195, 1);
    --green: rgba(0, 68, 0, 1);
    --blue: rgba(34, 146, 164, 1);
    --orange: rgba(209, 96, 20, 1);
}

body {
    background-image: url(https://images.adsttc.com/media/images/5ca7/7388/284d/d153/3000/01f9/slideshow/UC8A1855-HDR-1.jpg?1554477931);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--pink);
    padding: 15px;
    border-radius: 15px;
    margin: 15% 0;
}

.container h1{
    color: var(--brown);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

form label{
    color: var(--brown);
    font-size: 1.2rem;
}
button {
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background: var(--brown);
    font-weight: 600;
    cursor: pointer;
    color: var(--pink);
    outline: none;
}  